@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
    padding: 30px;
    color: #ffffff !important;
    fill: rgb(255, 255, 255) !important;
    transition: .5s;
    transform: scale(.7);
}

.swiper-button-next {
    padding: 30px;
    color: #ffffff !important;
    fill: rgb(255, 255, 255) !important;
    transition: .5s;
    transform: scale(.7);
}

.swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

